---
import ButtonLink from '../ui/ButtonLink.astro';
---

<section class="py-32 px-6 lg:px-20 text-center border-t border-gray-900">
    <div class="container-main">
        <h2 class="text-4xl font-black mb-6 reveal"
            style={`transition-delay: 120ms`}>
            Давайте заберём рынок
        </h2>

        <p class="text-gray-400 mb-8 reveal"
           style={`transition-delay: 240ms`}>
            Мы ищем брокеров и партнёров для запуска
        </p>

        <ButtonLink href="/contacts" class="px-8 py-4 text-lg reveal"
                    style={`transition-delay: 360ms`}>
            Связаться
        </ButtonLink>
    </div>
</section>