TG_API_ID=31260023
TG_API_HASH=bf3b4d7a4826e1e9a1fcf55ee8028aeb
TG_SESSION=1AgAOMTQ5LjE1NC4xNjcuNDEBu0P/2zACYHTYp6pgDJ2DQQdt5O+0MEBYDHwJEULdLYbaDphf0CVll06h1aMG/uAm3krklA7Gjssz9I8XQWtlDUOEHGRS9KuBCWfUEkzxm5/Q36lwfnT8WLvVPl+ro11yxQ8rkOuY9jFPbg5hWHEvf6S3dTcr9zdVlBlULbapnGmazIYbJ/epgktJpPst1HIUlppwbQwMaPYihzAS9SR+jwrrARafiZ2uA57vEUZkEZz6fa50px6nvByvfPKgNCr185Q5tMp07QFOU8nwMEmNkkqr2qXTKce+I7ZJQk9ow1NPVu/kVYH5FOXCBgcBQLk/2iv3wMeNBuEuDgqRE1TxI+U=


SERVER_URL=http://localhost:5000
PARSER_TOKEN=super_secret_123